{{ template "posix-preamble.sh" . }}
## Mac App Store applications
MAS_APP_IDS=(
	"937984704"   # Amphetamine
	"1352778147"  # Bitwarden
	"462058435"   # Microsoft Excel
	"462062816"   # Microsoft PowerPoint
	"462054704"   # Microsoft Word
	"946399090"   # Telegram Lite
	"6745342698"  # uBlock Origin Lite
	"1472432422"  # Wayback Machine
	"1295203466"  # Windows App
#	"497799835"   # Xcode  # xcode doesn't work right through mas
)

if [ "$HAS_BREW" = "true" ] && [[ "$OSTYPE" == "darwin"* ]]; then
	# mas is distributed via brew
  mas update
	for mas_id in "${MAS_APP_IDS[@]}"; do
		mas install $mas_id
	done
fi

# Android installer broken on x86_64 as of 3/14/2026
## Android
#if [ "$HAS_BREW" = "true" ]; then
#	# sdkmanager is available now; will have been installed in the brew cask
#	if [[ "$OSTYPE" == "darwin"* ]]; then
#		export ANDROID_HOME="$HOME/Library/Android/sdk"
#		export ANDROID_SDK_ROOT="$HOME/Library/Android/sdk"
#	else
#		export ANDROID_HOME="$HOME/Android/sdk"
#		export ANDROID_SDK_ROOT="$HOME/Android/sdk"
#	fi
#	# sdkmanager-managed sdkmanager overrides brew-managed sdkmanager
#	export PATH=$ANDROID_HOME/platform-tools:$PATH
#	export PATH=$ANDROID_HOME/tools:$PATH
#
#	yes | sdkmanager --licenses > /dev/null
#
#	# change components to install here
#	ANDROID_SDK_COMPONENTS=(
#		"platform-tools"
#		"build-tools;36.0.0"
#		"platforms;android-36"
#		"emulator"
#	)
#
#	ARCH=$(uname -m)
#	if [[ "$ARCH" == "arm64" || "$ARCH" == "aarch64" ]]; then
#		ANDROID_SDK_COMPONENTS+=("system-images;android-36;google_apis;arm64-v8a")
#	else
#		ANDROID_SDK_COMPONENTS+=("system-images;android-36;google_apis;x86_64")
#	fi
#
#	sdkmanager "${ANDROID_SDK_COMPONENTS[@]}"
#fi
