.pycalc3/.venv/
.keymap-renderer/.venv/
.config/nvim/lazy-lock.json

{{- if ne .chezmoi.os "windows" }}
0-nt-sync.cmd
1-install-vscode-ext.cmd

autorun.cmd
.doskey.mac
AppData
{{- else }}
0-posix-sync.sh
1-install-vscode-ext.sh
{{- end }}

{{- if ne .chezmoi.os "darwin" }}
Library
{{- end }}
