.config/nvim/lazy-lock.json

{{- if ne .chezmoi.os "windows" }}
nt-sync.cmd
install-vscode-ext.cmd
autorun.cmd
.doskey.mac
AppData
{{- else }}
install-vscode-ext.sh
posix-sync.sh
{{- end }}

{{- if ne .chezmoi.os "darwin" }}
Library
{{- end }}
