# this file is sourced by both zsh and bash; should use common syntax
if [ -n "$ZSH_VERSION" ]; then
    autoload -Uz colors && colors
    setopt promptsubst
    autoload -Uz compinit && compinit
fi

# completions
if [ -n "$ZSH_VERSION" ]; then
    eval "$(chezmoi completion zsh)"
else
    eval "$(chezmoi completion bash)"
fi

# === ALIASES
alias c3="uv run --directory=$HOME/.local/share/pycalc3 ipython --no-banner -i --profile=default"
alias t3="uv run --directory=$HOME/.local/share/pycalc3 ipython --no-banner -i --profile=sympy"
alias "chomp=perl -pi -e 'chomp if eof'"

NCSU_HOSTS=(eos grendel hydra kraken)
for h in "${NCSU_HOSTS[@]}"; do
  alias "ssh-$h=sshpass -f $HOME/.ssh/id_plaintext_ncstate ssh $h"
done

v() { 
  command "$VISUAL" "$@"
}
if [ -n "${ZSH_VERSION-}" ]; then
  case "$VISUAL" in
    *nvim) compdef v=nvim ;;
    *vim)  compdef v=vim  ;;
  esac
fi

ssh-privpub() {
    for key in "$@"; do
        [[ "$key" == *.pub ]] && continue
        [ -f "$key" ] && ssh-keygen -y -f "$key" > "${key}.pub" 2>/dev/null && echo "${key}.pub"    
    done
}
[ -n "$ZSH_VERSION" ] && compdef _files ssh-privpub

chezmoi-cd() {
    cd "$(chezmoi source-path)"
}

bw-unlock() {
    export BW_SESSION="$(bw unlock --raw)"
}

if [ "$(uname -o)" = "GNU/Linux" ]; then
  # given a PID show all files that PID has open
  filewatch() {
    local pid=$1
    watch -n 5 "PIDS=\$(ps --ppid $pid -o pid --no-headers 2>/dev/null | tr -d ' ' | paste -sd,),$pid; lsof -p \"\$PIDS\" -nP -F n 2>/dev/null | grep '^n/' | sed 's|^n||' | grep -Ev '^(/dev|/proc|/sys|/run|/tmp|/cgroup|/\$)' | grep -v '(stat:' | sort -ru"
  }
fi

# === ANNOUNCEMENTS/psuedoMOTD
if [[ $- == *i* && -z ${DID_COMMONRC_SPLASH+x} ]]; then
    LAST_SYNC="{{ now | date "2006-01-02" }}"
    DAYS_OLD=$(( ( $(date +%s) - $(date -j -f "%Y-%m-%d" "$LAST_SYNC" +%s 2>/dev/null || date -d "$LAST_SYNC" +%s) ) / 86400 ))

    if [ "$DAYS_OLD" -gt 7 ]; then
        echo "warning: last chezmoi sync was $LAST_SYNC, resync soon" >&2
    fi

    fastfetch >&2
fi
