<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>xyz.regulad.xmrig</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/regulad/xmrig/xmrig</string>
        <string>--config=/Users/regulad/xmrig/config.json</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/xmrig.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/xmrig.err</string>
    <key>ProcessType</key>
    <string>Background</string>
    <key>Nice</key>
    <integer>10</integer>
</dict>
</plist>
