# Configuration
IgnoreUnknown WarnWeakCrypto,UseKeychain
AddKeysToAgent yes
HashKnownHosts yes
VerifyHostKeyDNS yes

Include config.d/*

Host *
    # Try to use the user regulad on all systems
    User regulad
    PreferredAuthentications publickey   
    EnableEscapeCommandline yes

# General idea of the fallback:
#    1. Try to get the agent's private key by the public key
#    2. If the private key isn't in the agent, and it exists on disk, load it. Else, crash.
Match User regulad
    Tag rsa3072

Match tagged rsa3072
{{- if not .useDummySecrets }}
    IdentityFile ~/.ssh/id_rsa3072.pub
    IdentityFile ~/.ssh/id_rsa3072  # fallback
{{- end }}
    IdentitiesOnly yes

Match tagged rsa4096
{{- if not .useDummySecrets }}
    IdentityFile ~/.ssh/id_rsa4096.pub
    IdentityFile ~/.ssh/id_rsa4096  # fallback
{{- end }}
    IdentitiesOnly yes