# Configuration
Include config.d/*
AddKeysToAgent yes
HashKnownHosts yes

Host *
  EnableEscapeCommandline yes

# Hardware hosts
Host neodingus
    HostName neodingus.tail11540.ts.net
    User root
{{- if not .useDummySecrets }}
    IdentityFile ~/.ssh/id_rsa.pub
    IdentityFile ~/.ssh/id_rsa  # fallback
{{- end }}
    IdentitiesOnly yes
    ForwardAgent yes

Host prodingus
    HostName prodingus.tail11540.ts.net
    User root
{{- if not .useDummySecrets }}
    IdentityFile ~/.ssh/id_rsa.pub
    IdentityFile ~/.ssh/id_rsa  # fallback
{{- end }}
    IdentitiesOnly yes
    ForwardAgent yes

Host jondingus
    HostName jondingus.tail11540.ts.net
    User root
{{- if not .useDummySecrets }}
    IdentityFile ~/.ssh/id_rsa.pub
    IdentityFile ~/.ssh/id_rsa  # fallback
{{- end }}
    IdentitiesOnly yes
    ForwardAgent yes

Host samsung-sm-a526u1
    HostName samsung-sm-a526u1.tail11540.ts.net
    Port 8022
    User u0_a322
{{- if not .useDummySecrets }}
    IdentityFile ~/.ssh/id_rsa.pub
    IdentityFile ~/.ssh/id_rsa  # fallback
{{- end }}
    IdentitiesOnly yes
    ForwardAgent yes

Host turk
    HostName turk.tail11540.ts.net
    ForwardAgent yes

Host honker
    HostName honker.tail11540.ts.net
    ForwardAgent yes

# Linux & macOS laptops
Host penumbra
    HostName penumbra.tail11540.ts.net
    ForwardAgent yes

# Special VMs
Host pihole
    HostName pihole.home.arpa
    User root
    PubkeyAuthentication no
    PreferredAuthentications password
    ForwardAgent yes

Host macserver
    HostName macserver.tail11540.ts.net
    ForwardAgent yes

# Master VMs
Host tinker
    HostName tinker.home.arpa
    ForwardAgent yes

Host gendo
    HostName gendo.home.arpa
    ForwardAgent yes

Host neohafh
    # this is the ONLY remote host with my keyring on it
    HostName neohafh.home.arpa
    RemoteCommand tmux new-session -A -s ssh

# llama.cpp hosts
Host llamarpcmaster
    HostName llamarpcmaster.home.arpa
    ForwardAgent yes

Host jon-llamarpcslave
    HostName jon-llamarpcslave.home.arpa

Host pro-llamarpcslave
    HostName pro-llamarpcslave.home.arpa

Host neo-llamarpcslave
    HostName neo-llamarpcslave.home.arpa

# Normal VMs
Host pelican
    HostName plican.home.arpa

Host matrix
    HostName matrix.home.arpa

Host lancache
    HostName lancache.home.arpa

Host freeipa
    HostName freeipa.home.arpa

Host authentik
    HostName authentik.home.arpa

Host timemachine
    HostName timemachine.home.arpa

Host urbackup
    HostName urbackup.home.arpa

Host obico
    HostName obico.home.arpa

Host softether
    HostName softether.home.arpa

Host gha
    HostName gha.home.arpa

Host microk8s
    HostName microk8s.home.arpa

# Windows hosts are no longer included for ssh key auth.
# There is a ton of garbage with "key scopes" that prevents the use of junctions while connected.

# Oracle (Legacy VCN)
Host doppelgangerhq.com
    User ubuntu
{{- if not .useDummySecrets }}
    IdentityFile ~/.ssh/id_rsa.pub
    IdentityFile ~/.ssh/id_rsa  # fallback
{{- end }}
    IdentitiesOnly yes
    ForwardAgent yes

# Oracle (wahlecloud)
Host tailscalerouter

Match Host tailscalerouter User opc
{{- if not .useDummySecrets }}
    IdentityFile ~/.ssh/ssh-key-2025-12-08_tailscalerouter.key.pub
    IdentityFile ~/.ssh/ssh-key-2025-12-08_tailscalerouter.key  # fallback
{{- end }}
    IdentitiesOnly yes
    ForwardAgent yes

Host livekit

Match Host livekit User opc
{{- if not .useDummySecrets }}
    IdentityFile ~/.ssh/ssh-key-2025-12-19_livekit.key.pub
    IdentityFile ~/.ssh/ssh-key-2025-12-19_livekit.key  # fallback
{{- end }}
    IdentitiesOnly yes

Host mail

Match Host mail User opc
{{- if not .useDummySecrets }}
    IdentityFile ~/.ssh/ssh-key-2025-12-08_mail.key.pub
    IdentityFile ~/.ssh/ssh-key-2025-12-08_mail.key  # fallback
{{- end }}
    IdentitiesOnly yes

# Personal Git
Host github.com
    HostName github.com
    User git
{{- if not .useDummySecrets }}
    IdentityFile ~/.ssh/id_rsa.pub
    IdentityFile ~/.ssh/id_rsa  # fallback
{{- end }}
    IdentitiesOnly yes

Host invent.kde.org
    HostName invent.kde.org
    User git
{{- if not .useDummySecrets }}
    IdentityFile ~/.ssh/id_rsa.pub
    IdentityFile ~/.ssh/id_rsa  # fallback
{{- end }}
    IdentitiesOnly yes

# git.regulad.xyz (super special case)
Host git-ssh.regulad.xyz
    ProxyCommand cloudflared access ssh --hostname %h
    HostName git-ssh.regulad.xyz
    User forgejo
{{- if not .useDummySecrets }}
    IdentityFile ~/.ssh/id_rsa.pub
    IdentityFile ~/.ssh/id_rsa  # fallback
{{- end }}
    IdentitiesOnly yes

Match Host mail User regulad
    ForwardAgent yes

# ncsu
Host github.ncsu.edu
    HostName github.ncsu.edu
    User git
{{- if not .useDummySecrets }}
    IdentityFile ~/.ssh/id_ed25519_ncstate.pub
    IdentityFile ~/.ssh/id_ed25519_ncstate  # fallback
{{- end }}
    IdentitiesOnly yes

## rotating host keys and password only authentication.
## excellent security, mr. bond
Host eos
    # lab server
    HostName remote.eos.ncsu.edu
    User pewahle    
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    PubkeyAuthentication no
    PreferredAuthentications password

Host grendel
    # x86_64
    ForwardX11 yes
    HostName grendel.ece.ncsu.edu
    User pewahle
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    PubkeyAuthentication no
    PreferredAuthentications password

Host hydra
    # GPU
    ForwardX11 yes
    HostName hydra.ece.ncsu.edu
    User pewahle
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    PubkeyAuthentication no
    PreferredAuthentications password

Host kraken
    # arm
    ForwardX11 yes
    HostName kraken.ece.ncsu.edu
    User pewahle
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    PubkeyAuthentication no
    PreferredAuthentications password

# Globals
Host *
    # Try to use the user regulad on all systems
    User regulad
    PreferredAuthentications publickey   

# General idea of the fallback:
#    1. Try to get the agent's private key by the public key
#    2. If the private key isn't in the agent, and it exists on disk, load it. Else, crash.
Match User regulad
{{- if not .useDummySecrets }}
    IdentityFile ~/.ssh/id_rsa.pub
    IdentityFile ~/.ssh/id_rsa  # fallback
{{- end }}
    IdentitiesOnly yes

Match User pewahle  # ncsu
{{- if not .useDummySecrets }}
    IdentityFile ~/.ssh/id_ed25519_ncstate.pub
    IdentityFile ~/.ssh/id_ed25519_ncstate  # fallback
{{- end }}
    IdentitiesOnly yes

