{
{{- if eq .chezmoi.os "windows" }}
	  "vencordDir: "{{ .chezmoi.homeDir }}\\.vencord\\dist",
{{- else }}
    "vencordDir": "{{ .chezmoi.homeDir }}/.vencord/dist",
{{- end }}
    "firstLaunch": false
}
