{
  "env": {
    "ANTHROPIC_BASE_URL": "https://ai.regulad.xyz/api",
    "CLAUDE_CODE_DISABLE_1M_CONTEXT": "1",
    "ANTHROPIC_MODEL": "opusplan",
    "ANTHROPIC_DEFAULT_OPUS_MODEL": "nvidia.moonshotai/kimi-k2.5",
    "ANTHROPIC_DEFAULT_SONNET_MODEL": "openrouter.openrouter/free",
    "ANTHROPIC_DEFAULT_HAIKU_MODEL": "llamarpcmaster.Qwen3-1.7B-Q8_0",
    "CLAUDE_CODE_SUBAGENT_MODEL": "openrouter.openrouter/free",
    "ANTHROPIC_AUTH_TOKEN": "{{- (bitwardenFields "item" "ai.regulad.xyz").apiKey.value -}}"
  },
  "extraKnownMarketplaces": {
    "wakatime": {
      "source": {
        "source": "git",
        "url": "https://github.com/wakatime/claude-code-wakatime.git"
      }
    }
  },
  "enabledPlugins": {
    "ralph-loop@claude-plugins-official": true,
    "claude-code-wakatime@wakatime": true
  }
}
