{
  "env": {
    "ANTHROPIC_BASE_URL": "http://localhost:11434",
    "ANTHROPIC_AUTH_TOKEN": "ollama",
    "ANTHROPIC_API_KEY": "",
    "ANTHROPIC_MODEL": "qwen3-coder-next:latest"
  },
  "extraKnownMarketplaces": {
    "wakatime": {
      "source": {
        "source": "git",
        "url": "https://github.com/wakatime/claude-code-wakatime.git"
      }
    }
  },
  "enabledPlugins": {
    "ralph-loop@claude-plugins-official": true,
    "claude-code-wakatime@wakatime": true
  }
}
