{
  "preferences": {
    "coworkScheduledTasksEnabled": false,
    "ccdScheduledTasksEnabled": false,
    "coworkWebSearchEnabled": true,
    "remoteToolsDeviceName": "{{ .chezmoi.hostname }}",
    "epitaxyPrefs": {
      "starred-local-code-sessions": [],
      "starred-cowork-spaces": [],
      "starred-session-groups": [],
      "dframe-local-slice": {
        "pinnedOrder": [],
        "customGroupAssignments": {},
        "customGroupOrder": {}
      }
    }
  },
  "mcpServers": {
    "desktop": {
      "command": "docker",
      "args": [
        "run",
        "--env", "VNCMCP_HOST",
        "--env", "VNCMCP_PORT",
        "--env", "VNCMCP_TIMEOUT",
        "--env", "VNCMCP_USERNAME",
        "--env", "VNCMCP_PASSWORD",
        "-i",
        "--rm",
        "--pull=always",
        "--network=host",
        "ghcr.io/regulad/vnc-mcp:latest"
      ],
      "env": {
        "VNCMCP_HOST": "localhost",
        "VNCMCP_PORT": "5900",
        "VNCMCP_TIMEOUT": "15.0",
        "VNCMCP_USERNAME": "{{ .chezmoi.username }}",
{{- if eq .chezmoi.hostname "penumbra" }}
        "VNCMCP_PASSWORD": "{{ (bitwarden "item" "75de9835-d062-49f3-896a-566a3b979b7c").login.password }}"
{{- else }}
        "VNCMCP_PASSWORD": "ChangeMeImInsecure!!"
{{- end }}
      }
    },
    "mcp-caldav": {
      "command": "/opt/homebrew/bin/pnpx",
      "args": ["mcp-caldav"],
      "env": {
        "CALDAV_BASE_URL": "https://nextcloud.regulad.xyz/remote.php/dav/calendars/{{ (bitwarden "item" "7bc3cc6e-0ae5-4140-98b8-c7b3f65c9d44").login.username }}/",
        "CALDAV_USERNAME": "{{ (bitwarden "item" "7bc3cc6e-0ae5-4140-98b8-c7b3f65c9d44").login.username }}",
        "CALDAV_PASSWORD": "{{ (index (bitwardenFields "item" "7bc3cc6e-0ae5-4140-98b8-c7b3f65c9d44") "caldav-mcp").value }}"
      }
    }
  }
}
