name: Docker

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  schedule:
    - cron: "28 4 * * 2,6"
  push:
    branches: ["master"]

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    # allow job to take up to max length of 24 hours
    # dang QEMU build taking forever...
    timeout-minutes: 1440

    strategy:
      matrix:
        include:
          - username: "regulad.linux"
            uid: "1000"
            groupname: "regulad.linux"
            gid: "1000"
            suffix: ""
          - username: "pewahle.linux"
            uid: "461513"
            groupname: "NCSU"
            gid: "108"
            suffix: "-ncsu"

    runs-on: self-hosted
    permissions:
      contents: read
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # Install the cosign tool except on PR
      # https://github.com/sigstore/cosign-installer
      - name: Install cosign
        if: github.event_name != 'pull_request'
        uses: sigstore/cosign-installer@v3.8.1
        with:
          cosign-release: "v2.4.3"

      # # see line 127 for why commented out
      # - name: Set up QEMU
      #   uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130
      #   with:
      #     platforms: arm64

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@79abd3f86f79a9d68a23c75a09a9a85889262adf

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@28218f9b04b4f3f62068d7b6ce6ca5b26e35336c
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@60a0d343a0d8a18aedee9d34e62251f752153bdb
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          # the below values enable the latest tag only on the default branch
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}${{ matrix.suffix != '' && format(',suffix={0}', matrix.suffix) || '' }}
            type=schedule${{ matrix.suffix != '' && format(',suffix={0}', matrix.suffix) || '' }}
            type=ref,event=branch${{ matrix.suffix != '' && format(',suffix={0}', matrix.suffix) || '' }}
            type=ref,event=tag${{ matrix.suffix != '' && format(',suffix={0}', matrix.suffix) || '' }}
            type=ref,event=pr${{ matrix.suffix != '' && format(',suffix={0}', matrix.suffix) || '' }}

      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@ac9327eae2b366085ac7f6a2d02df8aa8ead720a
        # dedicate 18h to just running this step out of total 24h
        # emulating arm64 to build the arm64 image takes forever
        timeout-minutes: 1080
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            USERNAME=${{ matrix.username }}
            UID=${{ matrix.uid }}
            GROUPNAME=${{ matrix.groupname }}
            GID=${{ matrix.gid }}
          platforms:
            linux/amd64 #,linux/arm64


            # i would like to eventually support linux/ppc64el, linux/riscv64, and linux/s390x
            # pending brew support

            # # `sudo` does not appear to work correctly under arm64 emulation.
            # # I'm chalking it up to an issue with the filesystem that it presents to the guest, since it complains about being unable to set the setuid bit.
            # # Currently all nodes are `amd64`, so just commenting it out is an easy fix.
            # # If at any time I have adopted a "mixed" setup where some nodes are arm64 and some are amd64,
            # # I will need to break the build process into two separate jobs whose created images are recombined with a multi-plat manifest.
            # issue: https://github.com/docker/buildx/issues/1335
            # fix:   https://github.com/tonistiigi/binfmt/blob/22c018d00098bd80d4f9df3533992b3b7a4f8a38/cmd/binfmt/main.go#L89

            # beyond the setuid/C flag issue, for some reason the arm64 build just also hangs indefinitely for an unknown reason. image will stay amd64.

      # Sign the resulting Docker image digest except on PRs.
      # This will only write to the public Rekor transparency log when the Docker
      # repository is public to avoid leaking data.  If you would like to publish
      # transparency data even for private images, pass --force to cosign below.
      # https://github.com/sigstore/cosign
      - name: Sign the published Docker image
        if: ${{ github.event_name != 'pull_request' }}
        env:
          # https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions#using-an-intermediate-environment-variable
          TAGS: ${{ steps.meta.outputs.tags }}
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
        # This step uses the identity token to provision an ephemeral certificate
        # against the sigstore community Fulcio instance.
        run: echo "${TAGS}" | xargs -I {} cosign sign --yes {}@${DIGEST}
